body{
    margin: 0px;
    padding: 0px;
}
.tarja{
    background-color:#3d7cc3;
    box-shadow: 0px 0px 5px black;
    transform: rotate(-45deg);
    padding: 25px;
    position: fixed;
    left: -183px;
    top: 57px;
}
.selo{
    border-top: 2px solid #92c8e3;
    border-bottom: 2px solid #92c8e3;
    background-color: #3d7cc3;
    padding: 20px 150px;
    color: white;
    font-size:25px;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 0px 5px black;
}



footer{
    text-align: center;
    line-height: 50px;
    background-color: #cccccc;
    font-size: 15px;
    color: #585050;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.madeby a{
    text-decoration: none;
    color: #f8f6f6;
}